body {
  font-family: Charter;
}
div {
  text-align: justify;
  text-justify: inter-word;
}
.book.font-family-0 {
  font-family: Charter, serif;
}
.book.font-family-1 {
  font-family: 'Fira Sans', sans-serif;
}
.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: white;
 }